##User Defined Functions

In [33]:
def square():#<---function header
    new_value = 4**2 #<...  function body
    print(new_value)

In [34]:
#lets now call the function
square()

16

# write a function that can square any given number

In [35]:
def square(value):
    new_value = value**2
    print(new_value)

In [36]:
square(10)

100

In [37]:
square(2)

4

## return values from functions

what  if we dont want to print out our functions squared value but 

instead, we want to return the squared value and assign it to ome variables

In [40]:
def square(value):
    new_value = value**2
    return new_value

In [41]:
num = square(4)
print(num)

16

#multiple parameters and return values

. accepts more than one parameter

example

In [ ]:
def raise to power(value1,value2):
    """
    
    new_value1

In [43]:
#example2

In [48]:
def raise_both(value1, value2):
    '''
    raise value to the power of value2 and vice versa
    '''
    
    new_value1= value1** value2
    new_value2= value2**value1
    new_tuple=(new_value1,new_value2)
    return new_tuple

In [49]:
result = raise_both(2,3)

print(result)

(8, 9)

# example 3

load twitter data into panda ,iterate over the language column and count 
the number of the language if exists a key in a dictionary we created 
otherwise,we assign that language to be added to 1

In [4]:
my_dict ={}
my_dict["name"] = "damilola"
my_dict["name"]
my_dict["name"]+=" akinlade"
my_dict["name"]

'damilola akinlade'

In [6]:
import pandas as pd

df =pd.read_csv("/Users/damilolaakinlade/Desktop/DATA SCIENCE/writing functions in python/tweets.csv")
df.head(2)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

In [8]:
df["lang"].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [9]:
lang_count = ()#<...we created an empty dictionary 
languages = df["lang"]#,select the language columnb from our dataset

In [13]:
for lang in languages:#< ...for loop
    if lang in lang_count.keys():  #< ...if statement
        lang_count[lang] += 1
    else:
        lang_count[lang] = 1

AttributeError: 'tuple' object has no attribute 'keys'

In [16]:
lang_count ={} #... as we created an empty dictionary
languages  = df["lang"]#< select the language column from ourv data set

In [18]:
for language in languages: #< for loop
    if language in lang_count.keys():  #<... if statement
        
        lang_count[language] +=1
    else:
        lang_count[language]=1

In [20]:
print(lang_count)

{'en': 97, 'et': 1, 'und': 2}

The above code was used to build a dictionary with keys being the names of the languages, and values , the number of tweets in a given language

#example 4
we didnt define a function in our example3 .so lets now create a function with a with the functionality of our example 3

In [31]:
def count_entries (df, col_name):
    '''
    return a dictionary with count of occurrences as a value of each key
    '''
    lang_count = {}                              #<...create an empty dictionary
    lang_col = df[col_name]                     #<...extract the language column
    for language in lang_col:                #<...iterate iver language column in dataframe
        if language in lang_count.keys():    #<...if language is in lang_count add 1
            lang_count[language] += 1
            
        else:
                lang_count[language] = 1      #...else set the value 1
                
    return lang_count

In [32]:
result = count_entries(df,'lang')

In [33]:
print(result)

{'en': 97, 'et': 1, 'und': 2}

## exercise
use what youve learned so far to modify the shout() function below.function below .here, you will modify shout() to accept two arguments.

In [49]:
 #yell = shout
# define shout with parameters word1 and word2

def shout1(word1,word2):
    
    '''
    return a dictionary with count of occurrences as a value key
    '''
    shout1 = word1 +"!!!"
    shout2 = word2 +"!!!"
    
    new_shout=shout1 + shout2
    
    return new_shout

yell= ("congratulations","you")

# scope and user defined functions

scope in functions 

not all objects are accessible everywhere in the script
scope-part of the program is where an object or name may be accessible

types of scope 
a) global scope: this is defined in the main body of a script
b)local scope: this is defined inside a fgunction
c)built in scope : these are names in the predefined built in module example sum(). 
print()etc

###Global scope vs local scope

In [56]:
def square(value):
    new_value = value ** 2
    return new_value

In [57]:
square(7)

49

if we try to call the variable name new_value now,it will throw an error. this is because new_value can only be accessed inside the function we created. Therefore ,its a local scope

In [60]:
new_value

NameError: name 'new_value' is not defined

##lets now make it a global scope

In [61]:
new_value = 10

In [63]:
def square(value):
    new_value = value ** 2
    return new_value

square(3)

9

##lets now call the new_value again

In [64]:
new_value

10

##note

. Anytime we call the name new_value in the global scope ,
  it will access the name in the global scope.
    
. Anytime we call the name new_value in the local scope,it will first look for it in the local scoope .
    
    thats why calling the function "square(3)" returned 9 and not 100(10 raise to power 
        of 10)
        
  .however if python couldnt find

example1

In [66]:
new_value =10

In [67]:
def square(value):
    new_value2 = new_value ** 2
    return new_value2

In [68]:
square(3)

100

## TO ALTER THE  VALUE OF A GLOBAL VARIABLE WITHIN A FUNCTION CALL

In [69]:
new_value = 10

In [2]:
def square(value):
    global new_value #< adding the keyword "global" will change 
                    
    new_value = new_value ** 2
    return new_value

### ASSIGNMENT

1.Define a function that will run the names in the fellowship with more than 6 letter
words

2.use filter+ lambda to perform the same task

fellowship = ["freddo","samwise","mercy","pippin","Aragon","Boronni","legolas","Gandal"]

3)use list comprehension to perform the same task

## home work

1) define a function that will run the names in the fellowship with more than six letter words

In [25]:
fellowship = ["freddo","samwise","mercy","pippin","Aragon",
              "Boronni","legolas","Gandal"]

def names(x):
    for x in fellowship:
        
        if len(x)>6:
            
            print(x)

In [27]:
fellowship = ["freddo","samwise","mercy","pippin","Aragon",
              "Boronni","legolas","Gandal"]

print(names(x))

samwise
Boronni
legolas
None

2) using lambda and filter for the same question

In [57]:
fellowship = ["freddo","samwise","mercy","pippin","Aragon",
              "Boronni","legolas","Gandal"]

list(filter(lambda x: len(x)>6,fellowship))

['samwise', 'Boronni', 'legolas']

#3) use comprehension list to get this

In [73]:
fellowship = ["freddo","samwise","mercy","pippin","Aragon",
              "Boronni","legolas","Gandal"]



names = (x for x in fellowship if len(x)>6)

In [76]:
print(list(names))

['samwise', 'Boronni', 'legolas']

4)write a program in python for the school library in which a fine is placed on every book returned late. for the first3 days the fine is N100, for the 4-10 days fine is N200 and above 10 days fine is N500. if the user reurns the book after 30 days,his/her membership will be canceelled. write a programto accept the number of days the member is late to return the book and display the fine of the appropriate message.

In [26]:
fine = ['N100',"N200","500"]
days= [1,4],[4,11],[11,29],[30]

for i in days:
    if i <=4:
        print("returned late")
        
elif i<=10:
    print("returned late")
    
elif i<=29:
    print("returned late")
        
else:
    if i >=30:
        print("membership cancelled")

TypeError: '<=' not supported between instances of 'tuple' and 'int'