In [1]:
if (len("Univelcity")>5):
    
    print("the length of the string is greater than 5")
    
else:
    print("the length of the string is not greater than 5")

the length of the string is greater than 5

#LAMDA FUNCTIONS

There are times you want to create anonymous functions,these types of functions will only need to have one form of expressions.

In [5]:
## sum of two numbers
def add_nums(a,b):
    
    sum= a+b
    return sum

add_nums(1,3)

4

we can use lambda to make the same function in just one line of code! lets do it

In [6]:
sum_of_two_nums = lambda c,d: c+d

sum_of_two_nums(4,5)

9

### BUILT IN FUNCTIONS

Python being in high level programming language,it has bunch of built in functions which make it easy to get quick computations done

an example of built in functions we used is len() which gives the length of the string or the string or the list give us the input to it:


Here is a full preview on the all python built in functions.

write a function that returns the square root of a num. inside use the return statement.5**(1/2)

In [14]:
def square_root(number):
    
    return(number(**2))

write a function that returns the cube root of a num. inside use statements.

In [30]:
def cube_root(a):
    ans = a ** 0.33333333333
    return round(ans, 2)

In [31]:
cube_root(8)

2.0

###BUILT IN FUNCTION

In [1]:
message = "do not give up!"
len(message)

15

In [7]:
forma = " i am in love"
len(forma)

13

In [2]:
odd_numbers = [1,3,5,7]
len(odd_numbers)

4

In [4]:
#using max to find the maximum number in a list

min(odd_numbers)

1

In [5]:
# sorting a list with sorted()
odd_numbers = [9,7,3,5,11,13,15,1]
sorted(odd_numbers).
By default the sorted arranges numbers in ascending or 
descending order.

[1, 3, 5, 7, 9, 11, 13, 15]

lets learn more inbuilt functions

# map function
map gives you the ability to apply a function to an ilterable structures such as list. when used with a list for example ,you can apply the functiion to every element on the list
lets see how it works

In [21]:
def cubic(number):
    
    cubic = **3:
        return (cubic(number ** 3))

SyntaxError: invalid syntax (2530507247.py, line 3)

In [15]:
num_list = [0,1,2,3,4]

In [3]:
# applying 'map' to the num_list to just return the list 
  where each element is cubed.

    cubic=**3


list(map(cubic,num_list))

IndentationError: unexpected indent (5495862.py, line 2)

#the essence of using map is to make it work easier .instead of typing various numbers we d like to run within cubic function,we can use the map function to do that.lets look at another example below

In [16]:
def times2(var):
    return var * 2

In [18]:
times2(5)

10

In [21]:
seq = [1,2,3,4,5]

list(map(times2, seq))

[2, 4, 6, 8, 10]

#filter function

instead of mapping every element to a function, the built in functiion will filter out

In [22]:
def odd_check(number):
    return number % 2 !=0
#! = is not equal to operation

In [23]:
num_list = [1,2,3,4,5,6,7,8,9,10,11]

list(filter(odd_check,num_list))

[1, 3, 5, 7, 9, 11]

##using lambda and filter functions together

In [27]:
my_list = [12,65,54,39,102,339,221,50,70]
# if divisible or not

result = list(filter(lambda x:(x % 13 == 0),my_list))

# printing the result
print(result)

[65, 39, 221]

In [31]:
my_list= ["greeks","geeg","keek", "practice", "aa"]

#using anonymous function to filter pal indromes

result = list(filter(lambda x:(x == "".join(reversed(x))),my_list))

#printing the result
print(result)

['geeg', 'keek', 'aa']

## use the lambda and filter function s to filter out words that start with "s" from the list

In [38]:
dami_list = ["soup","car","sneakers","dog","heavy","salad"]

list(filter(lambda item: item[0] == "s",dami_list))

['soup', 'sneakers', 'salad']

In [39]:
list(filter(lambda item:item[0]== "h",dami_list))

['heavy']

In [40]:
list(filter(lambda item: item.startswith('s'),dami_list))

['soup', 'sneakers', 'salad']

#list comprehension

# more useful python stuff

python is an awesome programming language that has alot of useful functions
lets see more useful things you may need beyond whats we just saw already

#list comprehension

list comprehension makes it easy to make a new list from an existing list based on a given condition. its very concise and relatable

In [51]:
# given a list of numbers ,can you make a new list of even numbers 
from the list nums?
#even numbers are numbers division and they give the remainder of 0

nums = range(1,20)
even_nums =[]

# a traditional way to do it is :

for num in nums:
    if num % 2==0:
        
        even_nums.append(num)
        
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# a more concise and easy way to do that is to use list comprehension

In [52]:
even_nums = [num for num in nums if num % 2 ==0]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
days = ["monday", "tuesday", "wednesday","thursday","friday","saturday"]

day_t = []

#make a list of days that start with 't'

for day in days:
    
    if day[0] == "t":
        day_t.append(day)
        
print(day_t)

['tuesday', 'thursday']

# a more concise way to do it will be

In [55]:
day_t = [day for day in days if day[0]== "t"]
print(day_t)

['tuesday', 'thursday']


## using list comprehension in place of  a nested for loop

In [56]:
pairs_1 = []

In [57]:
for num1 in range(0,2):
    for num2 in range(6,8):
        pairs_1.append((num1,num2))

In [58]:
print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [59]:
#now using list comprehension to acheive this 

pairs_2 = [(num1, num2) for num1 in range(0,2) for num2 in range (6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

# enumerate function

enumerate function converts iterable objects into enumerate objects. it basically returns a tuple that also contains a counter. that sounds hard ,but with examples,you can see how powerful this function is .

In [60]:
seasons = ["spring","summer","fall","winter"]

list(enumerate(seasons))

[(0, 'spring'), (1, 'summer'), (2, 'fall'), (3, 'winter')]

##also you can see,each element came with a counter automatically. the counter initially starts at 0,but we can change it

In [61]:
list(enumerate(seasons, start = 1))

[(1, 'spring'), (2, 'summer'), (3, 'fall'), (4, 'winter')]

# here is another example

In [63]:
class_names = [ "rock", "paper","scissor"]

for index,class_name in enumerate(class_names,start= 0):
    print(index,"-",class_name)

0 - rock
1 - paper
2 - scissor

#zip function

zip is an incredible function that takes twon iterators and returns a corresponding element as a tuple.

In [64]:
name = ["jessy","joe","jeannette"]
role = ["ml engineer","web developer","data engineer"]

zipped_name_role = zip(name,role)
zipped_name_role

##the zip object returns nothing in order to show the  zipped elements ,we can use a list. its also samething for enumerate you saw above.

In [65]:
list(zipped_name_role)

[('jessy', 'ml engineer'),
 ('joe', 'web developer'),
 ('jeannette', 'data engineer')]

#reduce function

reduce()function is used in performing some computations on a list,
and unlike map()and filter() function, it returns a single value as 
the result.

the reduce (fun,seq)function is used to apply a particular function
passed in its arguement to all of the list elements mentioned in 
the sequence passed along. this function is defined in the functool
module

In [67]:
def gibberrish(*args):
    '''
    concatenate strings in arg together
    '''
    hodge= ""
    for word in args:
        hodge += word
    return hodge

In [68]:
gibberrish("hello","dear","goodluck")

'hellodeargoodluck'

## here gibberrish() simply takes a list of stri gs as an arguement and returns , as returns,as single value result, the concatenation

strings together

In [69]:
from functools import reduce

In [70]:
stark = ["robb", "samsa", "arya", "brandom","rickon"]

In [ ]:
result= reduce(lambda item1, item2: item2: item1 + item2, stark)
print(result)