Consider below Univelcity Bootcamp's information about different batches:
Total_Candidates = {'absolute_beginners': 785, 'beginners': 825, 'intermediat_advanced': 602} 
Active_Candidates = {'absolute_beginners': 500, 'beginners': 425, 'intermediat_advanced': 300}
Create a Pandas DataFrame using the above information (name your Dataframe as univelcity)
Get all the columns in Univelcity.
Get the information of total candidates present in each batch using dictionary-style indexing.
Find the number of candidates for each batch who are not active and add this information to the dataframe univelcity.
Also, find the percent of candidates that are active in each batch and add this information to the univelcity dataframe (hint: 𝑝𝑒𝑟𝑐𝑒𝑛𝑡=(𝑎𝑐𝑡𝑖𝑣𝑒/𝑡𝑜𝑡𝑎𝑙)∗100)
Get all the batches where the percentage of active candidates is greater than 60%

In [1]:
import numpy as np
import pandas as pd

In [39]:
univelcity = {'Total_Candidates':['absolute_beginners','beginners','intermediat_advanced'],
              'Active_Candidates':['absolute_beginners','beginners','intermediat_advanced'],
              'total_num': [785,825, 602],
              'total_active':[ 500,425,300]}
               
df=pd.DataFrame(univelcity)
df

       Total_Candidates     Active_Candidates  total_num  total_active
0    absolute_beginners    absolute_beginners        785           500
1             beginners             beginners        825           425
2  intermediat_advanced  intermediat_advanced        602           300

In [1]:
#get all columns in univelcity
univelcity =[['Total_Candidates','Active_Candidates','total_num','total_active']]
df=pd.DataFrame(univelcity)
df

univelcity.columns

NameError: name 'pd' is not defined

In [40]:
# Get the information of total candidates present in each batch using dictionary-style indexing.
df.set_index('Total_Candidates')

                         Active_Candidates  total_num  total_active
Total_Candidates
absolute_beginners      absolute_beginners        785           500
beginners                        beginners        825           425
intermediat_advanced  intermediat_advanced        602           300

In [41]:
univelcity ={'total_num': [785,825, 602],
              'total_active':[ 500,425,300]}

In [42]:
df = pd.DataFrame(univelcity)
df

   total_num  total_active
0        785           500
1        825           425
2        602           300

In [43]:
df['total_non active'] = df['total_num']-df['total_active']
df

   total_num  total_active  total_non active
0        785           500               285
1        825           425               400
2        602           300               302

In [44]:
univelcity = {'Total_Candidates':['absolute_beginners','beginners','intermediat_advanced'],
              'Active_Candidates':['absolute_beginners','beginners','intermediat_advanced'],
              'total_num': [785,825, 602],
              'total_active':[ 500,425,300],
              'total_non active':[285,400,302]}

df=pd.DataFrame(univelcity)
df

,Total_Candidates,Active_Candidates,total_num,total_active,total_non active
0,absolute_beginners,absolute_beginners,785,500,285
1,beginners,beginners,825,425,400
2,intermediat_advanced,intermediat_advanced,602,300,302

In [45]:
df['% active'] = df['total_active']/df['total_num']*100
df

,Total_Candidates,Active_Candidates,total_num,total_active,total_non active,% active
0,absolute_beginners,absolute_beginners,785,500,285,63.694268
1,beginners,beginners,825,425,400,51.515152
2,intermediat_advanced,intermediat_advanced,602,300,302,49.833887

In [52]:
df['% active'] > 60

0     True
1    False
2    False
Name: % active, dtype: bool