In [1]:
import numpy as np
import pandas as pd

ASSIGNMENT
 The two dictionaries below represent the area and population of states in the usa
{'califonia':423967,'texas':695662,'newyork':141297,'florida':170312,'illinois':149995}
{'califonia':38332521,'texas':26448193,'newyork':19651127,'florida':19552860,'illinois':12882135}
create a DataFrame with two columns named 'area' and pop using the dictionaries given below
access (grab) the 'area' column of the DataFrame
add a new column called density to your DataFrame by dividing pop column by area column

In [10]:
data_info = {'area':[423967,695662,141297,170312,149995],
             'pop':[38332521,26448193,19651127,19552860,12882135]}
                     
df=pd.DataFrame(data_info)

In [11]:
df

     area       pop
0  423967  38332521
1  695662  26448193
2  141297  19651127
3  170312  19552860
4  149995  12882135

In [4]:
df[['area']]

     area
0  423967
1  695662
2  141297
3  170312
4  149995

In [12]:
df['density'] = df['pop']/df['area']

In [13]:
df

     area       pop     density
0  423967  38332521   90.413926
1  695662  26448193   38.018740
2  141297  19651127  139.076746
3  170312  19552860  114.806121
4  149995  12882135   85.883763

In [14]:
df[['area','density']]

     area     density
0  423967   90.413926
1  695662   38.018740
2  141297  139.076746
3  170312  114.806121
4  149995   85.883763